.container {
  display: grid;
  place-items: center;
}

.title {
  color: var(--secondaryColor);
  font-weight: 800;
  margin-top: 16px;
  letter-spacing: 1px;
}

.slogan {
  color: var(--primaryColor);
  margin: 0;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
}

.loginSection {
  display: grid;
  place-items: center;
  height: 100%;
  place-content: center;
}

.buttonDiv {
  margin-top: 12px;
}